*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body,html{
  height: 100%;
}

/* hero section */
.hero {
  height: 100vh;
  width: 100%;
  background: url(homepage.png) no-repeat center center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* lapisan lembut diatas foto */
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(91, 155, 213, 0.3);
  z-index: 1;
}

/* navbar */
.navbar{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  z-index: 2;
}

.logo span{
 font-size: 1.4em;
 font-weight: 600;
 color: #fff;
}

.navbar ul{
  list-style: none;
  display: flex;
  gap: 30px;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: 0.3s;
}

.navbar ul li a:hover{
  color: #cce3f7;
}


.hero-text {
  position: relative;
  z-index: 2;
  padding: 0 80px 100px 0;
  max-width: 600px;
  margin-left: auto;
  text-align: right;
  animation: fadeIn 1.8s ease;
  color: #fff;
}
.hero-text h1{
  font-size: 2.6em;
  margin-bottom: 15px;
}
.hero-text p{
  font-size: 1.1em;
  margin-bottom: 25px;
  color: #fff;
}
.hero-text button{
  background-color: #ffffff;
  color: #5b9bd5;
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.hero-text button:hover{
  background-color: #5b9bd5;
  color: #fff;
}
/* FOOTER */
.footer {
  background-color: #e9f2fb;
  color: #333;
  padding: 50px 80px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-contact h2{
  color: #5b9bd5;
  margin-bottom: 10px;
}

.footer-contact p {
  font-size: 0.95em;
  margin-bottom: 6px;
}

/* GARIS COPYRIGHT */
.footer-bottom {
  border-top: 1px solid #ccc;
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 0.9em;
  color: #fff;
  background-color: #5b9bd5;
}

@keyframes fadeIn{ 
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


